body{
    background-color: rgb(12, 70, 61);
}

.header{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(12, 70, 61);
    background-color: bisque;

}

p{
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: large;
}

#btn2{
    margin-top: 10px;
    background-color: rgb(242, 249, 203);
    height: 50px;
    width: 90px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
    font-weight: 900;

}

#copy_right_footer{
    background-color:bisque;
    position:fixed;
    bottom: 0;
    width:100%;
    font-family: 'Courier New', Courier, monospace;
    height:30px;
    font-size: 25px;
}